<p id="notice"><%= notice %></p>

<%= form_for search_form, as: :search, url: owners_path, method: :get do |form| %>
  <label>Name: </label>
  <%=form.text_field :name %>
  <br/>
  <label>Last Name: </label>
  <%=form.text_field :lastname %>
  <br/>
  <label>Phone: </label>
  <%=form.text_field :phone %>
  <br/>
  <%=form.submit %>
<% end %>

<h1>Listing Owners</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lastname</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%=render 'list' %>
  </tbody>
</table>

<br>

<%= link_to 'New Owner', new_owner_path %>
